<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Requests</title>
  </head>
  <body>
    <ul>
      <%@bookings_requested.each do |request| %>
      <li><%=request.space_name%>
        <%=request.space_description%>
        <%=request.space_price%>
        <%=request.booking_start_date%>
        <%=request.booking_end_date%>
        <%=request.booking_confirmation%></li>
    <%end%>
    </ul>
  </body>
</html>
