<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Requests</title>
    <link rel='stylesheet' href=stylesheet.css>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap" />
  </head>
  <body>
    <p class="logo"><a href="/"><img src="Logo.png"></a></p>
    <ul>
      <h5>Requested</h5>
      <br>
      <%@bookings_requested.each do |request| %>
      <li>Name: <%=request.space_name%>
        <br>
        Description: <%=request.space_description%>
        <br>
        £<%=request.space_price%> per night
        <br>
        Start Date: <%=request.booking_start_date%>
        <br>
        End Date: <%=request.booking_end_date%>
        <br>
        Confirmation: <%=request.booking_confirmation%></li>
        <br>
    <%end%>
    </ul>
    <ul>
      <h5>Received</h5>
      <br>
      <%@bookings_received.each do |received| %>
      <li><a href='/requests/<%=received.booking_id%>'> Name: <%=received.space_name%>
      </a>
        <br>
        Description: <%=received.space_description%>
        <br>
        £<%=received.space_price%>per night
        <br>
        Start Date: <%=received.booking_start_date%>
        <br>
        End Date: <%=received.booking_end_date%>
        <br>
        Confirmation: <%=received.booking_confirmation%></li>
        <br>
        <% if received.booking_confirmation == "requested" %>
        <form action='/requests/<%=received.booking_id%>' method="post">
          <input type="submit" value="Confirmed" name="booking_confirmation">
          <input type="submit" value="Declined" name="booking_confirmation">
        </form>
        <% end %>
    <%end%>
    </ul>
    <a class="request" href="/spaces">View all Spaces</a>
    <a class="login" href="/logout">Log Out</a>
  </body>
</html>
