<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spaces</title>
  </head>
  <body>
    <% if @user %>
      <h1>Welcome <%=@user.name%></h1>
      <h2><a href="/logout">Log Out</a></h2>
      <h3><a href='/spaces/new'>Add a new space</a></h3>
    <% end %>

    <ul>
      <%@spaces.each do |space| %>
    <li><a href='/spaces/<%=space.id%>'><%=space.name%></a>
    <%=space.description%>
    <%=space.price%></li>
    <%end%>
    </ul>

  </body>
</html>
